#titulo {
  font-family: Optima, sans-serif;
  font-size: 50px;
  text-align: center;
  color: white;
  margin: 15px;
}

.fonte {
  font-family: Georgia, serif;
  font-size: 20px;
  color: white;
  margin: 0px;
  padding: 40px;
}

.fonte2 {
  font-family: Georgia, serif;
  font-size: 20px;
  color: white;
  margin: 50px;
  padding: 30px;
  text-align: center;
}


#imagem{

border: 2px solid green;
width: 500px;
 
}

body {
  background-color: #063611;
  background-size: 600px;
}

#menu {
  color: white;
  font-family: Georgia, serif;
  text-align: center;
  font-size: 20px;
  padding: 30px;
}

#peso {
  font-weight: 500;
  text-decoration: underline;
  text-align: center;
  font-size: 22px;
}

a {
  color: #8f9bb1;
  text-decoration: none;
  font-weight: bold;
  text-decoration: underline;
}

#imagem2 {
  border: 1px solid green;
  width: 400px;
  height: 300px;
}

#imagem3 {
  border: 1px solid green;
  margin-left: 10px;
  margin-top: 50px;
  width: 400px;
  height: 300px;
}

#email {
  text-decoration: underline;
}

#hora {
  text-decoration: underline;
}

#final {
  text-align: center;
  margin-right: 30px;
  font-weight: 900;
  font-size: 30px;
}

#sobre {
  text-align: center;
}

#sobre2 {
  text-align: center;
}

.center{
  text-align: center;
}